.app {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  text-align: center;
}

.effect {
  background-color: rgb(224, 213, 199);
}

.timer {
  background-color: rgb(142, 142, 177);
}
