.app {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  text-align: center;
}

.effect {
  background-color: rgb(224, 213, 199);
  align-content: center;
}

.timer {
  background-color: rgb(142, 142, 177);
  align-content: center;
}

.input {
  background-color: rgb(158, 147, 169);
  align-content: center;
}

.input img {
  max-width: 100%; /* Constrain width to fit box */
  max-height: 100%; /* Constrain height to fit box */
  object-fit: contain;
}

.error {
  max-width: 40rem;
  margin: 1rem auto;
  padding: 1rem;
  background-color: #f4c7c7;
  color: #3e0505;
}
/* resuable component */
.btn {
  background-color: rgb(195, 195, 24);
  border-radius: none;
  padding: 10px;
  border-radius: 10px;
}

.nik {
  color: black;
}

/* ul {
  list-style: none;
  margin: 0;
  padding: 0;
} */

main {
  margin: 2rem auto;
  text-align: center;
}

h1 {
  color: black;
}
